
*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clear_fix {
	clear: both;
}

body, html {
	height: 100%;
	background-color: #fff;
	animation: opacity 1s;
}

.header {
	position: fixed;
	width: 100%
}

.nav, .links{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.nav {
	background-color: #5987c5;
	justify-content: space-between;
	text-align: center;
	width: 100%;
}

.logo {
	padding-right: 15%;
}

.logo img{
	width: 4.5rem;
	height: 2rem;
}

.links {
	justify-content: space-between;
	padding-right: 20%;
}

.nav_item {
	padding: 0 0.7rem;
	transition: ease 0.5s;
	font: 14px "Century Gothic";
	cursor: pointer;
}

.nav_link {
	text-decoration: none;
	font: 14px "Century Gothic";
	transition: ease .5s
}

.nav_item, .set_menu, .logo img {
	margin: 1rem;
}

.menu_container {
	background-color: #38659e;
	transform: skewX(-15deg);
	margin-right: 1rem;
	padding-right: 5px;
}

.anti_rotate {
	display: flex;
	transform: skewX(15deg);
}

.set_menu {
	padding: 0 1rem;
	cursor: pointer;
}

.set_menu a img {
	width: 2rem;
	height: 2rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.buss_med {
	align-self: center;
}

.img {
	grid-row: 1/3;
	justify-self: center;
	padding-top: 5rem;
}

.img img {
	width: 29rem;
	height: 26.4rem;
}

.bigger {
	font: 24px "Century Gothic";
	letter-spacing: 0.5px;
}

.smaller {
	padding-top: 2rem;
	font: 15px "Century Gothic";
	color: #555;
}

.browse_btn:hover {
	background-color: #5987c5;
	color: white;
	border: 2px solid #0000;
}

.order_btn:hover {
	background-color: #fff;
	color: black;
	border: 2px solid #333;
}

.browse_btn {
	background-color: #fff;
	border: 2px solid #333;
	padding: .7rem 1.5rem;
	font: 14px "Century Gothic";
	cursor: pointer;
	transition: ease .5s
}

.order_btn {
	background-color: #5987c5;
	border: 2px solid #0000;
	color: white;
	padding: .7rem 2.5rem;
	margin-left: 3rem;
	font: 14px "Century Gothic";
	cursor: pointer;
	transition: ease .5s
}
.portfolio {
	background-image: url("images/bg2.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact {
	background-image: url("images/bg3.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 17.1rem;
}

.for_us {
	text-align: center;
	font: 30px "Century Gothic";
	padding-top: 2rem;
	padding-right: 1rem;
}

.site_name {
	text-align: center;
	padding-top: 10px;
}

.site_name img {
	width: 15rem;
	height: 5rem;
}

.no_matter {
	text-align: center;
}

.no_matter p {
	font-family: "Century Gothic";
	line-height: 1.2rem;
	font-size: 16px;
	padding-bottom: 1rem;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.turn {
	display: flex;
	padding: 0.5rem 0.3rem 1rem 0;
	align-items: flex-end;
	background-color: #38659e;
	justify-content: flex-end;
	width: 10rem;
}

.turn:first-child {
	padding-right: 0.9rem;
	padding-bottom: 2rem;
}

.drop {
	display: none;
	float: right;
	opacity: 0;
	animation: top 1s;
	top: 5rem;
	right: 1rem;
	position: fixed;
}

.full_width {
	text-align: center;
}

.txt {
	padding: 0 0.4rem;
	font: 22px "Century Gothic";
	color: white;
}

.icon {
	padding: 0 8px;
}

.icon img{
	width: 1.9rem;
	height: 1.9rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #38659e;
	-webkit-transition: .4s;
	transition: .4s;
}
a:focus {
	outline: none;
}
input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.txt_container {
	display: flex;
	justify-content: space-between;
}

.best {
	text-align: center;
	font: 24px "Century Gothic";
	padding: 4rem;
}

.color {
	font-weight: 900;
	color: #38659e;
}

.block {
	font-family: "Century Gothic";
	padding: 1rem 1rem 3rem;
	width: 55%;
}

.header {
	text-align: center;
}

.contacts a{
	text-decoration: none;
	font-family: "Century Gothic";
}

.contacts a:hover {
	text-decoration: underline;
}

@keyframes opacity {
	from{
		margin-top: -100%;
		opacity: 0;
	}
	to{
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes top {
	0%{
		margin-top: 10rem;
		margin-right: 0;
		opacity: 0;
	}
	50%{
		margin-right: 10rem;
	}
	100%{
		opacity: 1;
		margin-top: 0;
	}
}

.line {
	width: 5rem;
	height: 3px;
	margin-top: 2rem;
	border-radius: 10px;
}

.main__content {
	text-align: center;
	padding: 4rem;
}

.main__heading {
	text-transform: uppercase;
	font: 30px "Raleway";
}

.main__subheading {
	font: 16px sans-serif;
}

.price_card_container {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding-top: 5rem;
}

.price_card {
	margin: 0 .5rem;
	width: 16rem;
	cursor: pointer;
	transition: ease 0.5s;
	animation: width 1s;
}

.package_name {
	padding: 1rem 0;
	font: 18px sans-serif;
	font-weight: bolder;
}

.price {
	padding: 1rem 0;
	font: 56px sans-serif;
	font-weight: bolder;
}

.payment {
	font: 18px sans-serif;
	font-style: italic;
	padding: 1rem 0;
}

.blank {
	padding: 0.2rem 0;
	text-transform: uppercase;
	font: 18px sans-serif;
	font-weight: bolder;
}

.describe {
	text-transform: uppercase;
	padding: 0.7rem 0;
	font: 16px sans-serif;
	font-weight: bolder;
}

.footer {
	text-align: center;
	font: 16px "Century Gothic"
	font-weight: bolder;
	padding: 2rem 0;
}
