body, html {
	height: 100%;
	background-color: #000;
}

.nav {
	background-color: #5987c5;
}

.nav_item {
	border-bottom: 2px solid #ccc0;
}

.nav_link {
	color: black;
}

.smaller {
	color: #555;
}

.browse_btn:hover {
	background-color: #5987c5;
	color: white;
	border: 2px solid #0000;
}

.order_btn:hover {
	background-color: #fff;
	color: black;
	border: 2px solid #333;
}

.browse_btn {
	background-color: #fff;
	border: 2px solid #333;
}

.order_btn {
	background-color: #5987c5;
	color: white;
}
.portfolio {
	background-image: url("images/bg2.png");
}

.contact {
	background-image: url("images/bg3.png");
}

.turn {
	background-color: #38659e;
}

.txt {
	color: white;
}

.slider {
	background-color: #fff;
}

.slider:before {
	background-color: #38659e;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.color {
	color: #38659e;
}

.block {
	background-color: #5987c5;
	color: white;
}

.contacts a {
	color: white;
}


.line {
	background-color: #fff;
	border: 1px solid #fff0;
}

.filled {
	background-color: #38659e;
}


.main__heading {
	color: #333;
}

.main__subheading {
	color: #999;
}


.price_card {
	box-shadow: 0 0 1rem #38659e;
}

.price_card:hover {
	box-shadow: 0 0 4rem #5987c5;
}

.package_name {
	background-color: #5987c5;
	color: #fff;
	border-bottom: 3px solid #aaa;
}

.price {
	background-color: #5987c5;
	color: #fff;
}

.payment {
	background-color: #5987c5;
	color: white;
}

.blank {
	background-color: #38659e;
	color: white;
}

.describe {
	color: #333;
	background-color: #fff;
}

.bd {
	border-bottom: 1px solid #e8e8e8;
}
.footer {
	text-align: center;
	background-color: #444;
	color: white;
}